In [1]:
import pandas as pd

In [2]:
import numpy as np

### 创建对象

In [3]:
s=pd.Series([1,2,5,np.nan,6,8])

In [4]:
s

0    1.0
1    2.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [5]:
t=pd.DataFrame([[1,2,3],[2,4,6],[3,6,9]])

In [6]:
t

   0  1  2
0  1  2  3
1  2  4  6
2  3  6  9

In [7]:
t=pd.DataFrame([1,2,3],[2,4,6])

In [8]:
t

   0
2  1
4  2
6  3

In [9]:
t=pd.DataFrame([1,2,3])

In [10]:
t

   0
0  1
1  2
2  3

In [11]:
dates=pd.date_range('20130102',periods=6)

In [12]:
dates

DatetimeIndex(['2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05',
               '2013-01-06', '2013-01-07'],
              dtype='datetime64[ns]', freq='D')

In [13]:
df=pd.DataFrame(np.random.randn(6,4),index=dates,columns=list('ABCD'))

In [14]:
df

                   A         B         C         D
2013-01-02 -0.122334 -0.893646 -0.966740  0.380622
2013-01-03  0.520466 -0.897933  1.053435  0.111886
2013-01-04  0.873628 -0.765583 -0.481556 -0.189255
2013-01-05  0.458200  0.309729  0.296551  0.737847
2013-01-06 -0.241820  1.015764 -0.404049  1.477565
2013-01-07 -0.430362 -0.186799 -0.183384 -0.903488

In [15]:
df2=pd.DataFrame({'a':1,
                  'b':pd.Timestamp('20130102'),
                  'c':pd.Series(1,index=list(range(4)),dtype='float32'),
                  'd':np.array([3]*4,dtype='int32'),
                  'e':pd.Categorical(['test','train','test','train']),
                  'f':'foo'
                 })

In [16]:
df2

   a          b    c  d      e    f
0  1 2013-01-02  1.0  3   test  foo
1  1 2013-01-02  1.0  3  train  foo
2  1 2013-01-02  1.0  3   test  foo
3  1 2013-01-02  1.0  3  train  foo

In [17]:
np.array([3]*4)

array([3, 3, 3, 3])

#### 使用行索引，可以直接使用区间（索引值区间或者序号区间），单独指定一行需要加.loc，且只能使用索引值，不能是序号

In [24]:
df[0:1]

                   A         B        C         D
2013-01-02 -0.122334 -0.893646 -0.96674  0.380622

In [32]:
df[0]

KeyError: 0

In [30]:
df['2013-01-05']

KeyError: '2013-01-05'

In [27]:
df.loc['2013-01-05']

A    0.458200
B    0.309729
C    0.296551
D    0.737847
Name: 2013-01-05 00:00:00, dtype: float64

In [35]:
df.loc[0]

TypeError: cannot do index indexing on <class 'pandas.core.indexes.datetimes.DatetimeIndex'> with these indexers [0] of <type 'int'>

In [18]:
pd.Series(1,index=list(range(4)))

0    1
1    1
2    1
3    1
dtype: int64

In [19]:
range(4)

[0, 1, 2, 3]

In [20]:
df2.dtypes

a             int64
b    datetime64[ns]
c           float32
d             int32
e          category
f            object
dtype: object

#### 如果你使用的是IPython，使用Tab自动补全功能会自动识别所有的属性以及自定义的列

In [36]:
df2.add

<bound method DataFrame.add of    a          b    c  d      e    f
0  1 2013-01-02  1.0  3   test  foo
1  1 2013-01-02  1.0  3  train  foo
2  1 2013-01-02  1.0  3   test  foo
3  1 2013-01-02  1.0  3  train  foo>

In [37]:
df.head(3)

                   A         B         C         D
2013-01-02 -0.122334 -0.893646 -0.966740  0.380622
2013-01-03  0.520466 -0.897933  1.053435  0.111886
2013-01-04  0.873628 -0.765583 -0.481556 -0.189255

In [38]:
df.tail(2)

                   A         B         C         D
2013-01-06 -0.241820  1.015764 -0.404049  1.477565
2013-01-07 -0.430362 -0.186799 -0.183384 -0.903488

In [39]:
df.index

DatetimeIndex(['2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05',
               '2013-01-06', '2013-01-07'],
              dtype='datetime64[ns]', freq='D')

In [40]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [41]:
df.values

array([[-0.12233423, -0.8936458 , -0.96673975,  0.38062192],
       [ 0.5204662 , -0.89793287,  1.05343523,  0.11188627],
       [ 0.87362841, -0.7655831 , -0.48155562, -0.18925537],
       [ 0.45819962,  0.3097288 ,  0.29655066,  0.73784722],
       [-0.24181972,  1.0157645 , -0.40404862,  1.47756525],
       [-0.43036219, -0.18679936, -0.18338436, -0.90348771]])

In [42]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean   0.176296 -0.236411 -0.114290  0.269196
std    0.513075  0.776951  0.704650  0.812689
min   -0.430362 -0.897933 -0.966740 -0.903488
25%   -0.211948 -0.861630 -0.462179 -0.113970
50%    0.167933 -0.476191 -0.293716  0.246254
75%    0.504900  0.185597  0.176567  0.648541
max    0.873628  1.015764  1.053435  1.477565

In [43]:
df.T

   2013-01-02  2013-01-03  2013-01-04  2013-01-05  2013-01-06  2013-01-07
A   -0.122334    0.520466    0.873628    0.458200   -0.241820   -0.430362
B   -0.893646   -0.897933   -0.765583    0.309729    1.015764   -0.186799
C   -0.966740    1.053435   -0.481556    0.296551   -0.404049   -0.183384
D    0.380622    0.111886   -0.189255    0.737847    1.477565   -0.903488

In [44]:
df.sort_values(by='B')

                   A         B         C         D
2013-01-03  0.520466 -0.897933  1.053435  0.111886
2013-01-02 -0.122334 -0.893646 -0.966740  0.380622
2013-01-04  0.873628 -0.765583 -0.481556 -0.189255
2013-01-07 -0.430362 -0.186799 -0.183384 -0.903488
2013-01-05  0.458200  0.309729  0.296551  0.737847
2013-01-06 -0.241820  1.015764 -0.404049  1.477565

In [45]:
df.sort_values(by=['A','B'])

                   A         B         C         D
2013-01-07 -0.430362 -0.186799 -0.183384 -0.903488
2013-01-06 -0.241820  1.015764 -0.404049  1.477565
2013-01-02 -0.122334 -0.893646 -0.966740  0.380622
2013-01-05  0.458200  0.309729  0.296551  0.737847
2013-01-03  0.520466 -0.897933  1.053435  0.111886
2013-01-04  0.873628 -0.765583 -0.481556 -0.189255

In [46]:
df ['A']

2013-01-02   -0.122334
2013-01-03    0.520466
2013-01-04    0.873628
2013-01-05    0.458200
2013-01-06   -0.241820
2013-01-07   -0.430362
Freq: D, Name: A, dtype: float64

In [47]:
df[['A','B']]

                   A         B
2013-01-02 -0.122334 -0.893646
2013-01-03  0.520466 -0.897933
2013-01-04  0.873628 -0.765583
2013-01-05  0.458200  0.309729
2013-01-06 -0.241820  1.015764
2013-01-07 -0.430362 -0.186799

In [48]:
df[1:2]

                   A         B         C         D
2013-01-03  0.520466 -0.897933  1.053435  0.111886

In [49]:
df[:3]

                   A         B         C         D
2013-01-02 -0.122334 -0.893646 -0.966740  0.380622
2013-01-03  0.520466 -0.897933  1.053435  0.111886
2013-01-04  0.873628 -0.765583 -0.481556 -0.189255

In [64]:
df[0:1]

                   A         B        C         D
2013-01-02 -0.122334 -0.893646 -0.96674  0.380622

* **loc——通过行标签索引行数据**           
* **iloc——通过行号获取行数据**
    
at、iat类似，只是只能访问单个元素，不能访问多个元素

In [62]:
df.loc['2013-01-4':'2013-01-05',['B','C']]

                   B         C
2013-01-04 -0.765583 -0.481556
2013-01-05  0.309729  0.296551

In [45]:
df.loc['2013-01-04',['B','C']]

B    0.604740
C    1.624817
Name: 2013-01-04 00:00:00, dtype: float64

In [46]:
df.loc['2013-01-04']

A    0.595010
B    0.604740
C    1.624817
D    0.039970
Name: 2013-01-04 00:00:00, dtype: float64

In [49]:
df.loc['2013-01-4':'2013-01-05','B']

2013-01-04    0.60474
2013-01-05    0.04320
Freq: D, Name: B, dtype: float64

In [47]:
df['B']

2013-01-02   -0.219462
2013-01-03   -1.075551
2013-01-04    0.604740
2013-01-05    0.043200
2013-01-06   -1.220726
2013-01-07   -0.155701
Freq: D, Name: B, dtype: float64

In [53]:
df.loc['2013-01-4']

A    0.595010
B    0.604740
C    1.624817
D    0.039970
Name: 2013-01-04 00:00:00, dtype: float64

In [66]:
df.iloc[0:2,[1,2]]

                   B         C
2013-01-02 -0.893646 -0.966740
2013-01-03 -0.897933  1.053435

In [67]:
df.iloc[3]

A    0.458200
B    0.309729
C    0.296551
D    0.737847
Name: 2013-01-05 00:00:00, dtype: float64

In [68]:
df.iloc[0,0]

-0.12233423265519475

In [69]:
df.iat[0,0]

-0.12233423265519475

In [127]:
df[df.F==2]

                   A         B         C  D  F
2013-01-03  0.520466 -0.897933  1.053435  5  2

In [78]:
df[df>0]

                   A         B         C         D
2013-01-02       NaN       NaN       NaN  0.380622
2013-01-03  0.520466       NaN  1.053435  0.111886
2013-01-04  0.873628       NaN       NaN       NaN
2013-01-05  0.458200  0.309729  0.296551  0.737847
2013-01-06       NaN  1.015764       NaN  1.477565
2013-01-07       NaN       NaN       NaN       NaN

In [84]:
df2=df.copy()

In [85]:
df2['E']=['one','one','two','three','four','three']

In [86]:
df2

                   A         B         C         D      E
2013-01-02  0.000000 -0.893646 -0.966740  0.380622    one
2013-01-03  0.520466 -0.897933  1.053435  0.111886    one
2013-01-04  0.873628 -0.765583 -0.481556 -0.189255    two
2013-01-05  0.458200  0.309729  0.296551  0.737847  three
2013-01-06 -0.241820  1.015764 -0.404049  1.477565   four
2013-01-07 -0.430362 -0.186799 -0.183384 -0.903488  three

In [87]:
df2[df2['E'].isin(['two','four'])]

                   A         B         C         D     E
2013-01-04  0.873628 -0.765583 -0.481556 -0.189255   two
2013-01-06 -0.241820  1.015764 -0.404049  1.477565  four

In [88]:
s1=pd.Series([1,2,3,4,5,6],index=pd.date_range('20130102',periods=6))

In [89]:
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [90]:
df['F']=s1

In [91]:
df

                   A         B         C         D  F
2013-01-02  0.000000 -0.893646 -0.966740  0.380622  1
2013-01-03  0.520466 -0.897933  1.053435  0.111886  2
2013-01-04  0.873628 -0.765583 -0.481556 -0.189255  3
2013-01-05  0.458200  0.309729  0.296551  0.737847  4
2013-01-06 -0.241820  1.015764 -0.404049  1.477565  5
2013-01-07 -0.430362 -0.186799 -0.183384 -0.903488  6

In [92]:
df.at[dates[0],'A']=0

In [93]:
df

                   A         B         C         D  F
2013-01-02  0.000000 -0.893646 -0.966740  0.380622  1
2013-01-03  0.520466 -0.897933  1.053435  0.111886  2
2013-01-04  0.873628 -0.765583 -0.481556 -0.189255  3
2013-01-05  0.458200  0.309729  0.296551  0.737847  4
2013-01-06 -0.241820  1.015764 -0.404049  1.477565  5
2013-01-07 -0.430362 -0.186799 -0.183384 -0.903488  6

In [94]:
dates

DatetimeIndex(['2013-01-02', '2013-01-03', '2013-01-04', '2013-01-05',
               '2013-01-06', '2013-01-07'],
              dtype='datetime64[ns]', freq='D')

In [95]:
df.iat[0,1]=0

In [96]:
df

                   A         B         C         D  F
2013-01-02  0.000000  0.000000 -0.966740  0.380622  1
2013-01-03  0.520466 -0.897933  1.053435  0.111886  2
2013-01-04  0.873628 -0.765583 -0.481556 -0.189255  3
2013-01-05  0.458200  0.309729  0.296551  0.737847  4
2013-01-06 -0.241820  1.015764 -0.404049  1.477565  5
2013-01-07 -0.430362 -0.186799 -0.183384 -0.903488  6

In [97]:
df.loc[:,'D']=np.array([5]*len(df))

In [98]:
df

                   A         B         C  D  F
2013-01-02  0.000000  0.000000 -0.966740  5  1
2013-01-03  0.520466 -0.897933  1.053435  5  2
2013-01-04  0.873628 -0.765583 -0.481556  5  3
2013-01-05  0.458200  0.309729  0.296551  5  4
2013-01-06 -0.241820  1.015764 -0.404049  5  5
2013-01-07 -0.430362 -0.186799 -0.183384  5  6

In [99]:
df2=df.copy()

In [100]:
df2[df2>0]=-df2

In [101]:
df2

                   A         B         C  D  F
2013-01-02  0.000000  0.000000 -0.966740 -5 -1
2013-01-03 -0.520466 -0.897933 -1.053435 -5 -2
2013-01-04 -0.873628 -0.765583 -0.481556 -5 -3
2013-01-05 -0.458200 -0.309729 -0.296551 -5 -4
2013-01-06 -0.241820 -1.015764 -0.404049 -5 -5
2013-01-07 -0.430362 -0.186799 -0.183384 -5 -6

In [102]:
df1=df.reindex(index=dates[0:4],columns=list(df.columns)+['E'])

In [103]:
df1

                   A         B         C  D  F   E
2013-01-02  0.000000  0.000000 -0.966740  5  1 NaN
2013-01-03  0.520466 -0.897933  1.053435  5  2 NaN
2013-01-04  0.873628 -0.765583 -0.481556  5  3 NaN
2013-01-05  0.458200  0.309729  0.296551  5  4 NaN

In [104]:
df1.loc[dates[0]:dates[1],'E']=1

In [105]:
df1.dropna(how='any')

                   A         B         C  D  F    E
2013-01-02  0.000000  0.000000 -0.966740  5  1  1.0
2013-01-03  0.520466 -0.897933  1.053435  5  2  1.0

In [106]:
df1

                   A         B         C  D  F    E
2013-01-02  0.000000  0.000000 -0.966740  5  1  1.0
2013-01-03  0.520466 -0.897933  1.053435  5  2  1.0
2013-01-04  0.873628 -0.765583 -0.481556  5  3  NaN
2013-01-05  0.458200  0.309729  0.296551  5  4  NaN

In [107]:
df1.fillna(value=7)

                   A         B         C  D  F    E
2013-01-02  0.000000  0.000000 -0.966740  5  1  1.0
2013-01-03  0.520466 -0.897933  1.053435  5  2  1.0
2013-01-04  0.873628 -0.765583 -0.481556  5  3  7.0
2013-01-05  0.458200  0.309729  0.296551  5  4  7.0

In [108]:
pd.isnull(df1)

                A      B      C      D      F      E
2013-01-02  False  False  False  False  False  False
2013-01-03  False  False  False  False  False  False
2013-01-04  False  False  False  False  False   True
2013-01-05  False  False  False  False  False   True

In [109]:
df.describe()

              A         B         C    D         F
count  6.000000  6.000000  6.000000  6.0  6.000000
mean   0.196685 -0.087470 -0.114290  5.0  3.500000
std    0.501126  0.708392  0.704650  0.0  1.870829
min   -0.430362 -0.897933 -0.966740  5.0  1.000000
25%   -0.181365 -0.620887 -0.462179  5.0  2.250000
50%    0.229100 -0.093400 -0.293716  5.0  3.500000
75%    0.504900  0.232297  0.176567  5.0  4.750000
max    0.873628  1.015764  1.053435  5.0  6.000000

In [110]:
df.mean(1)

2013-01-02    1.006652
2013-01-03    1.535194
2013-01-04    1.525298
2013-01-05    2.012896
2013-01-06    2.073979
2013-01-07    2.039891
Freq: D, dtype: float64

In [111]:
df.mean()

A    0.196685
B   -0.087470
C   -0.114290
D    5.000000
F    3.500000
dtype: float64

In [112]:
s=pd.Series([1,3,5,np.nan,6,8],index=dates).shift(2)

In [113]:
s

2013-01-02    NaN
2013-01-03    NaN
2013-01-04    1.0
2013-01-05    3.0
2013-01-06    5.0
2013-01-07    NaN
Freq: D, dtype: float64

In [114]:
df.sub(s,axis='index')

                   A         B         C    D    F
2013-01-02       NaN       NaN       NaN  NaN  NaN
2013-01-03       NaN       NaN       NaN  NaN  NaN
2013-01-04 -0.126372 -1.765583 -1.481556  4.0  2.0
2013-01-05 -2.541800 -2.690271 -2.703449  2.0  1.0
2013-01-06 -5.241820 -3.984236 -5.404049  0.0  0.0
2013-01-07       NaN       NaN       NaN  NaN  NaN

In [115]:
df

                   A         B         C  D  F
2013-01-02  0.000000  0.000000 -0.966740  5  1
2013-01-03  0.520466 -0.897933  1.053435  5  2
2013-01-04  0.873628 -0.765583 -0.481556  5  3
2013-01-05  0.458200  0.309729  0.296551  5  4
2013-01-06 -0.241820  1.015764 -0.404049  5  5
2013-01-07 -0.430362 -0.186799 -0.183384  5  6

In [116]:
df.apply(np.cumsum)

                   A         B         C   D   F
2013-01-02  0.000000  0.000000 -0.966740   5   1
2013-01-03  0.520466 -0.897933  0.086695  10   3
2013-01-04  1.394095 -1.663516 -0.394860  15   6
2013-01-05  1.852294 -1.353787 -0.098309  20  10
2013-01-06  1.610475 -0.338023 -0.502358  25  15
2013-01-07  1.180112 -0.524822 -0.685742  30  21

In [128]:
df

                   A         B         C  D  F
2013-01-02  0.000000  0.000000 -0.966740  5  1
2013-01-03  0.520466 -0.897933  1.053435  5  2
2013-01-04  0.873628 -0.765583 -0.481556  5  3
2013-01-05  0.458200  0.309729  0.296551  5  4
2013-01-06 -0.241820  1.015764 -0.404049  5  5
2013-01-07 -0.430362 -0.186799 -0.183384  5  6

In [129]:
df.apply(lambda x: x.max()-x.min())

A    1.303991
B    1.913697
C    2.020175
D    0.000000
F    5.000000
dtype: float64

In [130]:
s=pd.Series(np.random.randint(0,7,size=10))

In [131]:
s

0    0
1    1
2    6
3    1
4    1
5    0
6    4
7    1
8    6
9    5
dtype: int32

In [132]:
s.value_counts()

1    4
6    2
0    2
5    1
4    1
dtype: int64

In [133]:
s=pd.Series(['A','B','C','Aaba','Baca',np.nan,'CABA','dag','cat'])

In [134]:
s.str.lower()

0       a
1       b
2       c
3    aaba
4    baca
5     NaN
6    caba
7     dag
8     cat
dtype: object

## 合并

### concat  merge  join append
    http://pandas.pydata.org/pandas-docs/stable/merging.html#merging-join
    http://blog.csdn.net/zutsoft/article/details/51498026

In [112]:
df=pd.DataFrame(np.random.randn(10,4))

In [114]:
df

          0         1         2         3
0  2.138494 -0.231681 -0.453301  2.404546
1  0.587759 -0.622951  0.920064  1.091847
2 -0.994948  0.933218 -0.613333  0.642075
3 -0.580603  0.220273  0.462796 -1.491870
4 -1.254593 -0.397357  2.091581  0.493267
5  0.293709 -1.863349 -1.433852  0.690815
6 -1.130597 -0.837964  2.574168  1.146338
7 -0.539839 -0.980444 -0.721634  2.489797
8 -1.625399  1.198930 -0.878937  0.353554
9 -0.656855 -0.178839  0.983130  0.427746

In [115]:
pieces=[df[:3],df[3:7],df[7:]]

In [116]:
pieces

[          0         1         2         3
 0  2.138494 -0.231681 -0.453301  2.404546
 1  0.587759 -0.622951  0.920064  1.091847
 2 -0.994948  0.933218 -0.613333  0.642075,
           0         1         2         3
 3 -0.580603  0.220273  0.462796 -1.491870
 4 -1.254593 -0.397357  2.091581  0.493267
 5  0.293709 -1.863349 -1.433852  0.690815
 6 -1.130597 -0.837964  2.574168  1.146338,
           0         1         2         3
 7 -0.539839 -0.980444 -0.721634  2.489797
 8 -1.625399  1.198930 -0.878937  0.353554
 9 -0.656855 -0.178839  0.983130  0.427746]

In [117]:
pd.concat(pieces)

          0         1         2         3
0  2.138494 -0.231681 -0.453301  2.404546
1  0.587759 -0.622951  0.920064  1.091847
2 -0.994948  0.933218 -0.613333  0.642075
3 -0.580603  0.220273  0.462796 -1.491870
4 -1.254593 -0.397357  2.091581  0.493267
5  0.293709 -1.863349 -1.433852  0.690815
6 -1.130597 -0.837964  2.574168  1.146338
7 -0.539839 -0.980444 -0.721634  2.489797
8 -1.625399  1.198930 -0.878937  0.353554
9 -0.656855 -0.178839  0.983130  0.427746

### 分组

### Reshaping

In [118]:
tuples=list(zip(*[['bar','bar','baz','baz',
                  'foo','foo','qux','qux'],
                 ['one','two','one','two',
                 'one','two','one','two']]))

In [119]:
tuples

[('bar', 'one'),
 ('bar', 'two'),
 ('baz', 'one'),
 ('baz', 'two'),
 ('foo', 'one'),
 ('foo', 'two'),
 ('qux', 'one'),
 ('qux', 'two')]

In [125]:
t=zip(*[['bar','bar','baz','baz',
                  'foo','foo','qux','qux'],
                 ['one','two','one','two',
                 'one','two','one','two']])

In [126]:
type(t)

list

In [127]:
index=pd.MultiIndex.from_tuples(tuples,names=['first','second'])

In [128]:
index

MultiIndex(levels=[[u'bar', u'baz', u'foo', u'qux'], [u'one', u'two']],
           labels=[[0, 0, 1, 1, 2, 2, 3, 3], [0, 1, 0, 1, 0, 1, 0, 1]],
           names=[u'first', u'second'])

In [129]:
df=pd.DataFrame(np.random.randn(8,2),index=index,columns=['A','B'])

In [130]:
df

                     A         B
first second
bar   one     1.263566  0.965871
      two    -0.335345  1.421680
baz   one     0.707166  0.171360
      two     2.052713  1.517817
foo   one    -0.168027 -1.104175
      two    -1.326833  1.421757
qux   one    -0.623688 -0.830511
      two    -0.565895 -0.606277

In [131]:
df2=df[:4]

In [134]:
stacked=df2.stack()

In [135]:
stacked

first  second
bar    one     A    1.263566
               B    0.965871
       two     A   -0.335345
               B    1.421680
baz    one     A    0.707166
               B    0.171360
       two     A    2.052713
               B    1.517817
dtype: float64

In [138]:
stacked.unstack()

                     A         B
first second
bar   one     1.263566  0.965871
      two    -0.335345  1.421680
baz   one     0.707166  0.171360
      two     2.052713  1.517817

In [139]:
stacked.unstack(1)

second        one       two
first
bar   A  1.263566 -0.335345
      B  0.965871  1.421680
baz   A  0.707166  2.052713
      B  0.171360  1.517817

In [140]:
stacked.unstack(0)

first          bar       baz
second
one    A  1.263566  0.707166
       B  0.965871  0.171360
two    A -0.335345  2.052713
       B  1.421680  1.517817

### 时间序列

In [141]:
rng=pd.date_range('1/1/2012',periods=100,freq='S')

In [142]:
rng

DatetimeIndex(['2012-01-01 00:00:00', '2012-01-01 00:00:01',
               '2012-01-01 00:00:02', '2012-01-01 00:00:03',
               '2012-01-01 00:00:04', '2012-01-01 00:00:05',
               '2012-01-01 00:00:06', '2012-01-01 00:00:07',
               '2012-01-01 00:00:08', '2012-01-01 00:00:09',
               '2012-01-01 00:00:10', '2012-01-01 00:00:11',
               '2012-01-01 00:00:12', '2012-01-01 00:00:13',
               '2012-01-01 00:00:14', '2012-01-01 00:00:15',
               '2012-01-01 00:00:16', '2012-01-01 00:00:17',
               '2012-01-01 00:00:18', '2012-01-01 00:00:19',
               '2012-01-01 00:00:20', '2012-01-01 00:00:21',
               '2012-01-01 00:00:22', '2012-01-01 00:00:23',
               '2012-01-01 00:00:24', '2012-01-01 00:00:25',
               '2012-01-01 00:00:26', '2012-01-01 00:00:27',
               '2012-01-01 00:00:28', '2012-01-01 00:00:29',
               '2012-01-01 00:00:30', '2012-01-01 00:00:31',
               '2012-01-01 00:00:32', '2012-01-01 00:00:33',
               '2012-01-01 00:00:34', '2012-01-01 00:00:35',
               '2012-01-01 00:00:36', '2012-01-01 00:00:37',
               '2012-01-01 00:00:38', '2012-01-01 00:00:39',
               '2012-01-01 00:00:40', '2012-01-01 00:00:41',
               '2012-01-01 00:00:42', '2012-01-01 00:00:43',
               '2012-01-01 00:00:44', '2012-01-01 00:00:45',
               '2012-01-01 00:00:46', '2012-01-01 00:00:47',
               '2012-01-01 00:00:48', '2012-01-01 00:00:49',
               '2012-01-01 00:00:50', '2012-01-01 00:00:51',
               '2012-01-01 00:00:52', '2012-01-01 00:00:53',
               '2012-01-01 00:00:54', '2012-01-01 00:00:55',
               '2012-01-01 00:00:56', '2012-01-01 00:00:57',
               '2012-01-01 00:00:58', '2012-01-01 00:00:59',
               '2012-01-01 00:01:00', '2012-01-01 00:01:01',
               '2012-01-01 00:01:02', '2012-01-01 00:01:03',
               '2012-01-01 00:01:04', '2012-01-01 00:01:05',
               '2012-01-01 00:01:06', '2012-01-01 00:01:07',
               '2012-01-01 00:01:08', '2012-01-01 00:01:09',
               '2012-01-01 00:01:10', '2012-01-01 00:01:11',
               '2012-01-01 00:01:12', '2012-01-01 00:01:13',
               '2012-01-01 00:01:14', '2012-01-01 00:01:15',
               '2012-01-01 00:01:16', '2012-01-01 00:01:17',
               '2012-01-01 00:01:18', '2012-01-01 00:01:19',
               '2012-01-01 00:01:20', '2012-01-01 00:01:21',
               '2012-01-01 00:01:22', '2012-01-01 00:01:23',
               '2012-01-01 00:01:24', '2012-01-01 00:01:25',
               '2012-01-01 00:01:26', '2012-01-01 00:01:27',
               '2012-01-01 00:01:28', '2012-01-01 00:01:29',
               '2012-01-01 00:01:30', '2012-01-01 00:01:31',
               '2012-01-01 00:01:32', '2012-01-01 00:01:33',
               '2012-01-01 00:01:34', '2012-01-01 00:01:35',
               '2012-01-01 00:01:36', '2012-01-01 00:01:37',
               '2012-01-01 00:01:38', '2012-01-01 00:01:39'],
              dtype='datetime64[ns]', freq='S')

In [146]:
ts=pd.Series(np.random.randint(0,500,len(rng)),index=rng)

In [147]:
ts

2012-01-01 00:00:00    358
2012-01-01 00:00:01    349
2012-01-01 00:00:02    286
2012-01-01 00:00:03    330
2012-01-01 00:00:04    181
2012-01-01 00:00:05    114
2012-01-01 00:00:06    452
2012-01-01 00:00:07    126
2012-01-01 00:00:08    279
2012-01-01 00:00:09     61
2012-01-01 00:00:10     15
2012-01-01 00:00:11    281
2012-01-01 00:00:12    253
2012-01-01 00:00:13    150
2012-01-01 00:00:14    467
2012-01-01 00:00:15    150
2012-01-01 00:00:16     23
2012-01-01 00:00:17    340
2012-01-01 00:00:18    250
2012-01-01 00:00:19    420
2012-01-01 00:00:20     48
2012-01-01 00:00:21    182
2012-01-01 00:00:22    442
2012-01-01 00:00:23    223
2012-01-01 00:00:24    319
2012-01-01 00:00:25    303
2012-01-01 00:00:26    410
2012-01-01 00:00:27    203
2012-01-01 00:00:28    338
2012-01-01 00:00:29    490
                      ...
2012-01-01 00:01:10    117
2012-01-01 00:01:11    116
2012-01-01 00:01:12     92
2012-01-01 00:01:13    137
2012-01-01 00:01:14    173
2012-01-01 00:01:15    107
2012-01-01 00:01:16    269
2012-01-01 00:01:17    345
2012-01-01 00:01:18      7
2012-01-01 00:01:19    334
2012-01-01 00:01:20    443
2012-01-01 00:01:21    495
2012-01-01 00:01:22    152
2012-01-01 00:01:23     15
2012-01-01 00:01:24    255
2012-01-01 00:01:25    492
2012-01-01 00:01:26    232
2012-01-01 00:01:27    122
2012-01-01 00:01:28    250
2012-01-01 00:01:29     41
2012-01-01 00:01:30    242
2012-01-01 00:01:31    273
2012-01-01 00:01:32    388
2012-01-01 00:01:33    338
2012-01-01 00:01:34    321
2012-01-01 00:01:35    469
2012-01-01 00:01:36    111
2012-01-01 00:01:37     35
2012-01-01 00:01:38    295
2012-01-01 00:01:39    119
Freq: S, Length: 100, dtype: int32

In [148]:
rng=pd.date_range('3/6/2012 00:00',periods=5,freq='D')

In [149]:
rng

DatetimeIndex(['2012-03-06', '2012-03-07', '2012-03-08', '2012-03-09',
               '2012-03-10'],
              dtype='datetime64[ns]', freq='D')

In [155]:
ts=pd.Series(np.random.randn(len(rng)),rng)

In [158]:
ts

2012-03-06    0.481269
2012-03-07    0.675167
2012-03-08    0.590267
2012-03-09   -1.481200
2012-03-10   -0.785821
Freq: D, dtype: float64

In [159]:
ts_utc=ts.tz_localize('UTC')

In [160]:
ts_utc

2012-03-06 00:00:00+00:00    0.481269
2012-03-07 00:00:00+00:00    0.675167
2012-03-08 00:00:00+00:00    0.590267
2012-03-09 00:00:00+00:00   -1.481200
2012-03-10 00:00:00+00:00   -0.785821
Freq: D, dtype: float64

In [162]:
ts_utc.tz_convert('US/Eastern')

2012-03-05 19:00:00-05:00    0.481269
2012-03-06 19:00:00-05:00    0.675167
2012-03-07 19:00:00-05:00    0.590267
2012-03-08 19:00:00-05:00   -1.481200
2012-03-09 19:00:00-05:00   -0.785821
Freq: D, dtype: float64

In [164]:
rng=pd.date_range('1/1/2012',periods=5,freq='H')

In [166]:
ts=pd.Series(np.random.randn(len(rng)),index=rng)

In [167]:
ts

2012-01-01 00:00:00   -0.851870
2012-01-01 01:00:00   -1.035432
2012-01-01 02:00:00   -0.107836
2012-01-01 03:00:00    2.785723
2012-01-01 04:00:00   -0.240981
Freq: H, dtype: float64

In [168]:
ps=ts.to_period()

In [169]:
ps

2012-01-01 00:00   -0.851870
2012-01-01 01:00   -1.035432
2012-01-01 02:00   -0.107836
2012-01-01 03:00    2.785723
2012-01-01 04:00   -0.240981
Freq: H, dtype: float64

In [170]:
ps.to_timestamp()

2012-01-01 00:00:00   -0.851870
2012-01-01 01:00:00   -1.035432
2012-01-01 02:00:00   -0.107836
2012-01-01 03:00:00    2.785723
2012-01-01 04:00:00   -0.240981
Freq: H, dtype: float64

### Categorical

### Plot

In [171]:
ts=pd.Series(np.random.randn(1000),index=pd.date_range('1/1/2012',periods=1000))

In [172]:
ts

2012-01-01    0.199668
2012-01-02   -0.604269
2012-01-03   -1.945653
2012-01-04   -0.663134
2012-01-05   -1.593792
2012-01-06    0.804650
2012-01-07    2.126037
2012-01-08   -0.537253
2012-01-09   -0.104558
2012-01-10    0.283394
2012-01-11   -0.592608
2012-01-12    1.165621
2012-01-13    1.053310
2012-01-14    0.969867
2012-01-15    0.710610
2012-01-16    0.519752
2012-01-17    1.515318
2012-01-18    0.367928
2012-01-19    0.668240
2012-01-20   -0.810325
2012-01-21   -1.301254
2012-01-22   -0.381315
2012-01-23   -0.917611
2012-01-24    0.431726
2012-01-25   -1.677312
2012-01-26    1.303227
2012-01-27   -0.595323
2012-01-28    0.689969
2012-01-29   -0.890591
2012-01-30   -0.315209
                ...
2014-08-28   -0.280085
2014-08-29   -1.162778
2014-08-30    0.584869
2014-08-31   -1.136654
2014-09-01   -1.323448
2014-09-02   -0.316111
2014-09-03    0.397948
2014-09-04   -1.283059
2014-09-05    0.209979
2014-09-06   -0.741501
2014-09-07    1.584321
2014-09-08    0.510364
2014-09-09    0.264948
2014-09-10    0.146989
2014-09-11    0.241739
2014-09-12    0.808283
2014-09-13    0.633368
2014-09-14   -1.505038
2014-09-15   -1.324225
2014-09-16   -2.103552
2014-09-17   -0.621472
2014-09-18   -1.543250
2014-09-19   -1.002028
2014-09-20    0.203932
2014-09-21   -1.268125
2014-09-22   -0.465059
2014-09-23    1.186585
2014-09-24   -0.281507
2014-09-25   -0.123176
2014-09-26    0.963367
Freq: D, Length: 1000, dtype: float64

In [177]:
ts=ts.cumsum()

In [179]:
ts.plot()